{% import "../_components/_blocks.njk" as file %}
{% extends "./base.njk" %}

{% block main %}
    {% block top %}
        {{ file.blocks() }}
    {% endblock top %}

    {% block bottom %}
        {{ content | safe }}
    {% endblock bottom %}
{% endblock main %}