---
title: Studio Boost | Contact
tags: nav
nav:
    title: Contact
    order: 5
menuColor: dark
---

{% import "../_components/_blocks.njk" as file %}
{% extends "../_layouts/block.njk" %}

{% block main %}
    {% block top %}
        <div class="block-row">
            <div class="block-row__text block__contact-info">
                <h2>Kom gerust langs of contacteer ons.</h2>
                <address class="block__contact-address">
                    <a href="mailto: info@studioboost.be">info@studioboost.be</a>
                    <p>09 012 34 45</p>
                    <p>Oudburg 5, 9000 Gent</p>
                </address>
                <ul class="contact__socials">
                    {% for social in socials %}
                        <li class="social">
                            <a target="_blank" rel="noopener noreferrer" href="{{ social.url }}">
                                <img src="{{ social.image }}" alt="Logo van {{ social.title }}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <img src="/img/gebouw-buiten.png" alt="Foto van ons bedrijfsgebouw van buitenaf.">
        </div>

        {{ file.blocks("Studio Boost is gevestigd in het bruisende en historische centrum van Gent, een stad die bekend staat om zijn rijke cultuur, prachtige architectuur en levendige sfeer. Het kantoor is gelegen in een van de oudste wijken van de stad, op loopafstand van de vele restaurants, cafés en winkels. De ligging van Studio Boost is ideaal voor het ontvangen van klanten en het organiseren van vergaderingen en presentaties, aangezien het kantoor gemakkelijk bereikbaar is met het openbaar vervoer.", "p", "/img/houten-bureel.png", "Een foto van ons bureel binnen.") }}
    {% endblock top %}
{% endblock main %}